
NNTraining/DATA/OLD/final_NN.rar
Volatility/DATA/New/MC Data/DATA_par_OPrice1
Volatility/DATA/New/MC Data/DATA_par_OPrice2
Volatility/DATA/New/Surf_17_x_19_100000
Volatility/DATA/New/Surf_17_x_19_TRUE
Volatility/DATA/New/True Data/DATA_true_OPrice
Volatility/DATA/New/True Data/DATA_TRUE_Par_OPrice_IV_1_8_1mil
Volatility/DATA/OLD/DATA_par_OPrice3
Volatility/DATA/OLD/DATA_par_OPrice4
Volatility/DATA/OLD/DATA_Par_OPrice_IV
Volatility/DATA/OLD/DATA_Par_OPrice_IV.rar
Volatility/DATA/OLD/done_DATA
Volatility/DATA/OLD/New/DATA_par_OPrice1
Volatility/DATA/OLD/New/DATA_par_OPrice2
Volatility/DATA/OLD/New/DATA_par_OPrice3
Volatility/DATA/OLD/New/DATA_par_OPrice4
Volatility/DATA/OLD/New/DATA_par_OPrice5
Volatility/DATA/OLD/New/DATA_par_OPrice6
Volatility/DATA/OLD/New/DATA_par_OPrice7
Volatility/DATA/OLD/New/DATA_par_OPrice8
Volatility/DATA/OLD/New/DATA_Par_OPrice_IV_1_6_320k
Volatility/DATA/OLD/New/DATA_Par_OPrice_IV_1_7_720k
Volatility/DATA/OLD/New/DATA_Par_OPrice_IV_1_8_1mil
Volatility/DATA/OLD/New/Surf_17_x_19
Volatility/DATA/OLD/New/Surf_17_x_19_100000
Volatility/DATA/OLD/New/Surf_17_x_19_40000
Volatility/DATA/OLD/test_DATA_OPrice
Y.euler.sim
Y.euler.sim.cpp
Y.euler.sim.cpp(fix)
Y.euler.sim.cpp(fix).cpp
tilBoPlots.R
test.Rmd
skrald.Rmd
Rundown.html
NNTraining/DATA/OLD/v01_NN_IV
NNTraining/DATA/OLD/test_delete_slet.RData
NNTraining/DATA/OLD/test_DATA_Par_OPrice_IV
NNTraining/DATA/OLD/test_DATA
NNTraining/DATA/OLD/t2/variables/variables.index
NNTraining/DATA/OLD/t2/variables/variables.data-00000-of-00001
NNTraining/DATA/OLD/t2/saved_model.pb
NNTraining/DATA/OLD/t2.rar
NNTraining/DATA/OLD/surface
NNTraining/DATA/OLD/NN/variables/variables.index
NNTraining/DATA/OLD/NN/variables/variables.data-00000-of-00001
NNTraining/DATA/OLD/NN/saved_model.pb
NNTraining/DATA/OLD/new/NN320k/variables/variables.index
NNTraining/DATA/OLD/new/NN320k/variables/variables.data-00000-of-00001
NNTraining/DATA/OLD/new/NN320k/saved_model.pb
NNTraining/DATA/OLD/new/NN320k.rar
NNTraining/DATA/OLD/new/NN1m/variables/variables.index
NNTraining/DATA/OLD/new/NN1m/variables/variables.data-00000-of-00001
NNTraining/DATA/OLD/new/NN1m/saved_model.pb
NNTraining/DATA/OLD/new/NN1m.rar
NNTraining/DATA/OLD/new/DATA_Par_OPrice_IV_1_8_1mil
NNTraining/DATA/OLD/new/DATA_Par_OPrice_IV_1_7_720k
NNTraining/DATA/OLD/new/DATA_Par_OPrice_IV_1_6_320k
NNTraining/DATA/OLD/new/DATA_par_OPrice2
NNTraining/DATA/OLD/new/DATA_par_OPrice1
NNTraining/DATA/OLD/new/DATA_calibrated_1000
NNTraining/DATA/OLD/new/DATA_calibrated
NNTraining/DATA/OLD/New folder/new/NN1m/variables/variables.index
NNTraining/DATA/OLD/New folder/new/NN1m/variables/variables.data-00000-of-00001
NNTraining/DATA/OLD/New folder/new/NN1m/saved_model.pb
NNTraining/DATA/OLD/final_NN/variables/variables.index
NNTraining/DATA/OLD/final_NN/variables/variables.data-00000-of-00001
NNTraining/DATA/OLD/final_NN/saved_model.pb
NNTraining/DATA/OLD/bodil
NNTraining/DATA/new/Surf_17_x_19_TRUE
NNTraining/DATA/new/Surf_17_x_19_TRUE2
NNTraining/DATA/new/Surf_17_x_19_TRUE3
NNTraining/DATA/new/Surf_17_x_19_TRUE4
NNTraining/DATA/new/Surf_17_x_19_TRUE5
KerasTest.Rmd
NNTraining/DATA/new/DATA_TRUE_Par_OPrice_IV_1mil
NNTraining/DATA/new/NNtrue1m/saved_model.pb
NNTraining/DATA/new/NNtrue1m/variables/variables.data-00000-of-00001
NNTraining/DATA/new/NNtrue1m/variables/variables.index
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/FE71158B-BUMBUMtilGRUPPEN/1/s/chunks.json
.Rproj.user/shared/notebooks/FE71158B-BUMBUMtilGRUPPEN/1/710E97DDF306343C/chunks.json
.Rproj.user/shared/notebooks/F7542199-MP3/1/s/chunks.json
.Rproj.user/shared/notebooks/F7542199-MP3/1/710E97DD96A81B20/chunks.json
.Rproj.user/shared/notebooks/F7542199-MP3/1/710E97DD7F0E33D3/chunks.json
.Rproj.user/shared/notebooks/F7542199-MP3/1/710E97DD7B131A77/chunks.json
.Rproj.user/shared/notebooks/EAA3670F-MP4/1/s/chunks.json
.Rproj.user/shared/notebooks/EAA3670F-MP4/1/710E97DDE24DCBF1/chunks.json
.Rproj.user/shared/notebooks/EAA3670F-MP4/1/710E97DD7F0E33D3/chunks.json
.Rproj.user/shared/notebooks/CAF4FDA8-CalcVol/1/s/chunks.json
.Rproj.user/shared/notebooks/CAF4FDA8-CalcVol/1/710E97DDD7E9FCF3/chunks.json
.Rproj.user/shared/notebooks/CAF4FDA8-CalcVol/1/710E97DDD11D0714/chunks.json
.Rproj.user/shared/notebooks/CAF4FDA8-CalcVol/1/710E97DDC53B0830/chunks.json
.Rproj.user/shared/notebooks/CAF4FDA8-CalcVol/1/710E97DDB57D0868/chunks.json
.Rproj.user/shared/notebooks/CAF4FDA8-CalcVol/1/710E97DD8DECBA3F/chunks.json
.Rproj.user/shared/notebooks/CAF4FDA8-CalcVol/1/710E97DD62AC5D63/chunks.json
.Rproj.user/shared/notebooks/CAF4FDA8-CalcVol/1/710E97DD3952A21E/chunks.json
.Rproj.user/shared/notebooks/CAF4FDA8-CalcVol/1/710E97DD1BB50675/chunks.json
.Rproj.user/shared/notebooks/CAF4FDA8-CalcVol/1/710E97DD16FB0748/chunks.json
.Rproj.user/shared/notebooks/CAF4FDA8-CalcVol/1/710E97DD11AD5462/chunks.json
.Rproj.user/shared/notebooks/C9AC61B9-skrald/1/s/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/s/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDFB78DC01/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDF42E16B8/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDF306343C/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDE8EB2AB2/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDE4A34E40/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDE24DCBF1/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDD275E87C/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDD1091B30/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDCD5245B4/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDCCCDA8F1/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDBC6604E8/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDB57D0868/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDABC7AC43/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DDA3847140/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD96A81B20/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD876D09A2/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD7F0E33D3/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD7B131A77/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD63BE05DF/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD62AC5D63/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD59C7177F/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD463E09DB/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD44E78A4A/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD39A89A9/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD2E72B5A1/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD25DC092E/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD1BB50675/chunks.json
.Rproj.user/shared/notebooks/B8684BF8-Rundown/1/710E97DD16FB0748/chunks.json
.Rproj.user/shared/notebooks/772B62CF-dataGENchHeston/1/s/chunks.json
.Rproj.user/shared/notebooks/772B62CF-dataGENchHeston/1/710E97DD62AC5D63/chunks.json
.Rproj.user/shared/notebooks/38CDA2FB-NN_training/1/s/chunks.json
.Rproj.user/shared/notebooks/38CDA2FB-NN_training/1/710E97DDC53B0830/chunks.json
.Rproj.user/shared/notebooks/38CDA2FB-NN_training/1/710E97DDB57D0868/chunks.json
.Rproj.user/shared/notebooks/38CDA2FB-NN_training/1/710E97DDA7F04A97/chunks.json
.Rproj.user/shared/notebooks/38CDA2FB-NN_training/1/710E97DD8DECBA3F/chunks.json
.Rproj.user/shared/notebooks/38CDA2FB-NN_training/1/710E97DD62AC5D63/chunks.json
.Rproj.user/shared/notebooks/38CDA2FB-NN_training/1/710E97DD57954050/chunks.json
.Rproj.user/shared/notebooks/38CDA2FB-NN_training/1/710E97DD3952A21E/chunks.json
.Rproj.user/shared/notebooks/38CDA2FB-NN_training/1/710E97DD11AD5462/chunks.json
.Rproj.user/shared/notebooks/38CDA2FB-NN_training/1/710E97DD1031B0AC/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/s/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DDF406A847/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DDE385F08E/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DDD11D0714/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DDC328C1F5/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DDBB1518AC/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DDAF14B9CA/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DDA986EA05/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DDA7F04A97/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DD9F63F814/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DD863EED76/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DD6EF03877/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DD62AC5D63/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DD59C7177F/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DD3A3FB888/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DD3952A21E/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DD3795F20/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DD1BB50675/chunks.json
.Rproj.user/shared/notebooks/25470720-Calibration/1/710E97DD1031B0AC/chunks.json
.Rproj.user/shared/notebooks/24F7948A-test/1/s/chunks.json
.Rproj.user/shared/notebooks/16DC1E14-KerasTest/1/s/chunks.json
.Rproj.user/shared/notebooks/16DC1E14-KerasTest/1/710E97DD7F0E33D3/chunks.json
.Rproj.user/710E97DD/viewer-cache/49B79CF1.Rdata
.Rproj.user/710E97DD/sources/s-A986EA05/lock_file
.Rproj.user/710E97DD/sources/s-A986EA05/DE9C6AC9-contents
.Rproj.user/710E97DD/sources/s-A986EA05/DE9C6AC9
.Rproj.user/710E97DD/sources/s-A986EA05/CF6F4F09-contents
.Rproj.user/710E97DD/sources/s-A986EA05/CF6F4F09
.Rproj.user/710E97DD/sources/s-A986EA05/A9C0AB1E-contents
.Rproj.user/710E97DD/sources/s-A986EA05/A9C0AB1E
.Rproj.user/710E97DD/sources/s-A986EA05/74D1D2B0-contents
.Rproj.user/710E97DD/sources/s-A986EA05/74D1D2B0
.Rproj.user/710E97DD/sources/s-A986EA05/5706294F-contents
.Rproj.user/710E97DD/sources/s-A986EA05/5706294F
.Rproj.user/710E97DD/sources/s-A986EA05/30904833-contents
.Rproj.user/710E97DD/sources/s-A986EA05/30904833
.Rproj.user/710E97DD/sources/s-A986EA05/2E05C623-contents
.Rproj.user/710E97DD/sources/s-A986EA05/2E05C623
.Rproj.user/710E97DD/sources/s-A986EA05/275B846E-contents
.Rproj.user/710E97DD/sources/s-A986EA05/275B846E
.Rproj.user/710E97DD/sources/prop/INDEX
.Rproj.user/710E97DD/sources/prop/FE5B3029
.Rproj.user/710E97DD/sources/prop/F2DC344B
.Rproj.user/710E97DD/sources/prop/E75ADD16
.Rproj.user/710E97DD/sources/prop/E47C61F0
.Rproj.user/710E97DD/sources/prop/E295D71E
.Rproj.user/710E97DD/sources/prop/D9B8A59D
.Rproj.user/710E97DD/sources/prop/CD7C96E
.Rproj.user/710E97DD/sources/prop/CCAB7013
.Rproj.user/710E97DD/sources/prop/C81CF61F
.Rproj.user/710E97DD/sources/prop/C17CBE7C
.Rproj.user/710E97DD/sources/prop/B89A1D6C
.Rproj.user/710E97DD/sources/prop/B561AED5
.Rproj.user/710E97DD/sources/prop/B2E67AE6
.Rproj.user/710E97DD/sources/prop/A1A670AE
.Rproj.user/710E97DD/sources/prop/A19011D2
.Rproj.user/710E97DD/sources/prop/A0F1F0FC
.Rproj.user/710E97DD/sources/prop/9ECCB9D5
.Rproj.user/710E97DD/sources/prop/94CEB623
.Rproj.user/710E97DD/sources/prop/91277709
.Rproj.user/710E97DD/sources/prop/900A08CC
.Rproj.user/710E97DD/sources/prop/8D3EDA42
.Rproj.user/710E97DD/sources/prop/8734AB45
.Rproj.user/710E97DD/sources/prop/7DFA604B
.Rproj.user/710E97DD/sources/prop/7C6AB088
.Rproj.user/710E97DD/sources/prop/64B1FDE3
.Rproj.user/710E97DD/sources/prop/5F32BFC5
.Rproj.user/710E97DD/sources/prop/5D8554B9
.Rproj.user/710E97DD/sources/prop/5CF6C09A
.Rproj.user/710E97DD/sources/prop/5C7562E3
.Rproj.user/710E97DD/sources/prop/5050F0BD
.Rproj.user/710E97DD/sources/prop/4079B48
.Rproj.user/710E97DD/sources/prop/3943C97A
.Rproj.user/710E97DD/sources/prop/3597F008
.Rproj.user/710E97DD/sources/prop/344EBC45
.Rproj.user/710E97DD/sources/prop/1E85777
.Rproj.user/710E97DD/sources/prop/1C46B9F9
.Rproj.user/710E97DD/sources/prop/152B505E
.Rproj.user/710E97DD/sources/per/t/EA7C72FC-contents
.Rproj.user/710E97DD/sources/per/t/EA7C72FC
.Rproj.user/710E97DD/sources/per/t/1184F2E0-contents
.Rproj.user/710E97DD/sources/per/t/1184F2E0
.Rproj.user/710E97DD/rmd-outputs
.Rproj.user/710E97DD/persistent-state
.Rproj.user/710E97DD/pcs/workbench-pane.pper
.Rproj.user/710E97DD/pcs/windowlayoutstate.pper
.Rproj.user/710E97DD/pcs/source-pane.pper
.Rproj.user/710E97DD/pcs/packages-pane.pper
.Rproj.user/710E97DD/pcs/files-pane.pper
.Rproj.user/710E97DD/console06/INDEX001
.Rproj.user/710E97DD/console06/D049479
.Rproj.user/710E97DD/console06/INDEX001
.Rproj.user/710E97DD/pcs/files-pane.pper
.Rproj.user/710E97DD/pcs/packages-pane.pper
.Rproj.user/710E97DD/pcs/source-pane.pper
.Rproj.user/710E97DD/pcs/windowlayoutstate.pper
.Rproj.user/710E97DD/pcs/workbench-pane.pper
.Rproj.user/710E97DD/rmd-outputs
.Rproj.user/710E97DD/sources/per/t/1184F2E0
.Rproj.user/710E97DD/sources/per/t/1184F2E0-contents
.Rproj.user/710E97DD/sources/per/t/EA7C72FC
.Rproj.user/710E97DD/sources/per/t/EA7C72FC-contents
.Rproj.user/710E97DD/sources/prop/B2E67AE6
.Rproj.user/710E97DD/sources/prop/INDEX
.Rproj.user/710E97DD/viewer-cache/49B79CF1.Rdata
.RData
.RDataTmp
.RDataTmp1
.Rhistory
.Rproj.user/710E97DD/console06/INDEX001
.Rproj.user/710E97DD/pcs/files-pane.pper
.Rproj.user/710E97DD/pcs/packages-pane.pper
.Rproj.user/710E97DD/pcs/source-pane.pper
.Rproj.user/710E97DD/pcs/windowlayoutstate.pper
.Rproj.user/710E97DD/pcs/workbench-pane.pper
.Rproj.user/710E97DD/rmd-outputs
.Rproj.user/710E97DD/sources/per/t/1184F2E0
.Rproj.user/710E97DD/sources/per/t/1184F2E0-contents
.Rproj.user/710E97DD/sources/per/t/EA7C72FC
.Rproj.user/710E97DD/sources/per/t/EA7C72FC-contents
.Rproj.user/710E97DD/sources/prop/B2E67AE6
.Rproj.user/710E97DD/sources/prop/INDEX
.Rproj.user/710E97DD/viewer-cache/49B79CF1.Rdata
.Rproj.user/shared/notebooks/paths
Backup/Y.euler.sim(FORKERT)
Backup/Y.euler.sim.cpp(FORKERT)
BUMBUMtilGRUPPEN.Rmd
ChHeston/chHeston.R
DATA
DATAlocation/dataGENchHeston.Rmd
DATAlocation/Old/BACKUPS/DATA_13052021
DATAlocation/Old/BACKUPS/DATA_old
DATAlocation/Old/collection/bo_DATA
DATAlocation/Old/collection/collect_data.Rmd
DATAlocation/Old/collection/done_DATA
DATAlocation/Old/collection/hov_DATA
DATAlocation/Old/collection/jens_DATA
DATAlocation/Old/DATA
DATAlocation/Old/DATA_old
